<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet" />
    <title>{{ page.title }}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YJW2J05RKX"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-YJW2J05RKX');
    </script>
  
  </head>
  <body>

    <header class="bg-blue-400 p-4">
      <nav class="flex justify-between mx-auto container items-center">
        <div class="text-4xl">ukah</div>
        <div class="space-x-12 font-bold">
          <a href="" class="hover:text-green-200 transition-all duration-300">ホーム</a>
          <a href="blog"class="hover:text-green-200 transition-all duration-300">ブログ</a>
          <a href=""class="hover:text-green-200 transition-all duration-300">問い合わせ</a>
        </div>
      </nav>
    </header>

<main>
    <div class=" bg-green-300 p-10">
      <div class="md:flex container mx-auto md:justify-around py-5 md:py-10">
        <div class="flex flex-col text-center md:text-left">
          <h1 class="text-5xl sm:text-7xl">ポートフォリオサイト</h1>
          <div>
            <h2>Twitter</h2>
          @ukah_exe
          </div>
        
          <div>
          <h2>note</h2>
          [ukah(夢見猫うかあ)|note](https://note.com/ukah)
          </div>
        
          <div>
            <div>
              <h2>Twitch</h2>
              [ukah - Twitch](https://www.twitch.tv/ukah)
            </div>
            <div>
              <h2>Youtube</h2>
              [ukah ch. 夢見猫うかあ - YouTube](https://www.youtube.com/@ukahch)
            </div>
            <div>
              <h2>niconico</h2>
              [ukah - ニコニコ](https://www.nicovideo.jp/user/3471145)
            </div>
          </div>
        <div>
        
        <h2>GitHub</h2>
        [ukah (ukah)](https://github.com/ukah)
        </div>
        <div>
        <h2>その他</h2>
        <ul class="list-disc ml-5">
        <li>ukah - Qiita https://qiita.com/ukah</li>
        <li>ukahさんの記事一覧  Zenn https://zenn.dev/ukah</li>
        <li>labras https://lapras.com/public/0UGPKD1</li>
        <li>ukah (@ukah_exe) さんのライブ - ツイキャス https://twitcasting.tv/ukah_exe</li>
        </ul>
        </div>
        
        
        </div>
        
        <div>
          <div>
            <h1>作ったもの</h1>
            <div>
              <h2>ゲームアマツール</h2> 
              [ukahさんのマイページ - ゲームアツマール](https://game.nicovideo.jp/atsumaru/users/3471145)
            </div>
              <blockquote class="embedly-card"><h4><a href="https://game.nicovideo.jp/atsumaru/games/gm27916">運が悪いとびみょーにコインが取りにくいゲーム - ゲームアツマール</a></h4><p>■ゲーム紹介 ■操作方法 タップ入力で遊べます。主なキー入力は以下の通りです。 ・タップ　移動 ■Twitterや制作者の連絡先など Twitter: @ukah_exe ■実況・二次創作について （マナーを守り）ご自由にどうぞ！ 動画や生放送のタイトルには「ゲーム名」を入れて、説明文にはこのゲームのURLを入れてください。 制作者への報告は任意です。 ■クレジット・使用素材など GDevelop</p></blockquote>
              <script async src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            </div>
        </div>
      </div>
 </main>
  </body>
</html>
